//variables

//colors
$fluro-green: hsl(157, 74%, 62%);
$light-fluro-green: hsl(157, 100%, 85%);
$dark-grey: hsl(224, 26%, 23%);
$navy-blue: hsl(224, 35%, 11%);
$white: hsl(0, 0%, 100%);
$stone-grey: hsl(225, 21%, 45%);
$light-grey: hsl(225, 40%, 83%);

//font
$font-family: 'Chivo', sans-serif;

//font weights
$fw-300: 300;
$fw-400: 400;

//font sizes
$h1-desktop: 3.25rem;
$h1-tablet: 3rem;
$h1-mobile: 1.625rem;

$p-desktop: 1.125rem;
$p-mobile: 0.9375rem;

$button-desktop: 0.875rem;


//mixins
@mixin container($max-width: 1440px, $margin: 0, $padding: 0, $border-radius: 0, $background-color: $navy-blue) {
    max-width: $max-width;
    width: 100%;
    margin: $margin;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $background-color;
}

@mixin flex($flex-direction: row, $justify-content: center, $align-items: center, $gap: 0) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin grid($grid-template-columns: 1fr, $gap: 0) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    gap: $gap;
}

@mixin text($color: $white, $font-size: $p-desktop, $font-weight: $fw-300, $line-height: normal, $letter-spacing: normal) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
}

@mixin button($padding: 0.5125rem 1.6875rem, $border-radius: 28px, $font-size: $button-desktop, $background-color: $fluro-green, $box-shadow:  0px 2px 4px 0px rgba(84, 230, 175, 0.14)) {
    padding: $padding;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: $background-color;
    box-shadow: $box-shadow;
}


//reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//utility classes

body {
    background-color: $navy-blue;
}

.grid {
    @include container($max-width: 1440px, $margin: 0 auto);
    @include grid($grid-template-columns: repeat(12, 1fr));
    padding-inline-start: 3rem;
    padding-block: 10rem;
}

header {
    @include container($max-width: 200px);
    @include flex($justify-content: space-between, $align-items: flex-start);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.podcast-img-desktop {
    grid-column: 5 / 13;
    grid-row: 1 / 3;
    @include container($max-width: 888px);
}

.podcast-img-tablet {
    display: none;
}

.podcast-img-mobile {
    display: none;
}


.dot-img {
    margin-top: -2rem;
    grid-row: 3;
   grid-column: 11 / span 2; 

}

.socials-mobile {
    display: none;  
}

.mobile-logo {
    display: none;
}

.podcast-info {
    @include container($max-width: 723px);
    @include flex($flex-direction: column, $justify-content: center, $align-items: flex-start, $gap: 2rem);
    padding-block-start: 5.5rem;
    grid-column: 1 / 8;
    grid-row: 2 / 3;
}

.podcast-info h1 {
    @include text($color: $fluro-green, $font-size: $h1-desktop, $font-weight: $fw-300, $line-height: 62px);
    text-transform: uppercase;
    @include container($max-width: 665px);
}
.podcast-info span {
    color: $white;
}

.podcast-info p {
    @include text($color: $stone-grey, $font-size: $p-desktop, $font-weight: $fw-300, $line-height: 28px);
    @include container($max-width: 445px);
}

form {
    @include container($max-width: 500px);
    @include grid($grid-template-columns: 1fr 1fr 0.5fr 1fr);
}

form button {
    @include button;
    @include text($color: $navy-blue, $font-size: $button-desktop, $font-weight: $fw-400, $line-height: 28px);
    grid-column: 3 / 5; 
    grid-row: 1 / 2;
    margin: 0.2rem;
}

form button:hover {
    background-color: $light-fluro-green;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
}

form input {
    @include container($max-width: 500px, $padding: 0.875rem 2rem, $border-radius: 28px, $background-color: $dark-grey);
    @include text($color: $white, $font-size: $button-desktop, $font-weight: $fw-400, $line-height: 28px);
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    border: none;
}

.socials {
    @include container($max-width: 536px);
    @include flex($justify-content: flex-start, $gap: 1.5rem);
    padding-block-start: 3rem;

}

#error-message {
    color: red;
    font-size: 0.575rem;
    margin-block-start: 0.2rem;
    width: 200px;
}


@media (max-width: 1200px) {
    .grid {
        margin: 0 auto;
        padding-block-end: 5rem;
    }

    .podcast-img-desktop {
        display: none;
    }

    .podcast-img-tablet {
        display: block;
        grid-column: 7 / 13;
        grid-row: 1 / 3;
    }

    .podcast-info {
        grid-column: 1 / 12;
        grid-row: 2 / 3;
        margin-top: 10rem;
    }

    .podcast-info h1 {
        font-size: $h1-tablet;
    }


    .dot-img {
        grid-column: 1 / span 4;
        padding-block-start: 5rem;
        
    }
}

@media (max-width: 768px) {
    .grid {
        padding: 0;
    }

    header img {
        display: none;
    }

    .mobile-logo {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0 auto;
    }

    .podcast-img-tablet {
        display: none;
    }

    .podcast-img-mobile {
        display: block;
        grid-column: 1 / 13;
        grid-row: 1 / 2;
    }

    .podcast-info {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        margin: 0 auto;
        opacity: 0.7993;
        @include flex($flex-direction: column, $justify-content: space-evenly, $align-items: center);
    }

    .podcast-info h1 {
        font-size: $h1-mobile;
        text-align: center;
        max-width: 327px;
        margin: 0 auto;
        line-height: 38px;
    }

    .podcast-info p {
        font-size: $p-mobile;
        text-align: center;
        max-width: 327px;
        margin: 0 auto;
        line-height: 25px;
    }

    form {
        max-width: 327px;
        @include flex($flex-direction: column, $justify-content: center, $align-items: center, $gap: 0.2rem);
        margin: 0 auto;
        grid-row: 1 / 2;
        grid-column: 1 / 13;
        background: none;
    }

    form button {
        max-width: 327px;
        width: 100%;
    }

    form input {
       padding: 0.6rem 1.5rem;
    }

    .dot-img {
       display: none;
        
    }

    .socials {
        display: none;
    }

    .socials-mobile {
        @include container($max-width: 315px, $margin: 0 auto);
        @include flex($justify-content: center, $gap: 1.5rem);
        padding-block: 2rem;

    }

    .socials-mobile img {
        width: 3rem;
    }
}